.LetterBar .progress {
    position: relative;
    height: 1.2rem;
}
.LetterBar .label {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.2rem;
}
.LetterBar kbd {
    background-color: rgba(48,48,48,0.5);
}
.LetterBar .progress-bar {
    transition: none;
}