.TypingInput .sampleText, .TypingInput .typingText {
    font-family: monospace;
    line-height: 1.5rem;
    font-size: 14px;
    margin-bottom: 1.5rem;
}
.TypingInput .sampleText:first-of-type {
    margin-top: 2px;
}
.TypingInput .typingText {
    width: 100%;
    height: 100%;
}